{% extends "base.html" %}

{% block head %}

<div class="bigbutton" onclick='window.location.href = "/";'> ^ </div>

{% endblock %}

{% block body %}

<script type="text/javascript">
	
	function seemore()
	{
		hide('morebutton');
		show('explanationdiv');
	}

</script>

<form action="{{url_for('activity', act_type = act_type)}}" style="text-align: center;" method="post">
	<table id="customers" style="margin:auto;">
		<tr>
			<td><input type="text" id="head" name="head" required></td>
			<td class="{{ act_type }}">
				{% if act_type == "add" %} + {% else %} - {% endif %}
				<input type="number" id="money" name="money" style="width:40%;" required>TL
			</td>
		</tr>
	</table>
	<div class="morebutton" id="morebutton" onclick="seemore()" >
		<p >...</p>
	</div>
	
	<div id = "explanationdiv" style="display:none;">
		<br>
		<textarea id="explanation" name="explanation" style="width:80%;margin:auto;"></textarea>
	</div>
	<input type="submit" value="Onayla">
</form>

{% endblock %}