{% extends "base.html" %}

{% block head %}

<div class="bigbutton" onclick='window.location.href = "/";'> ^ </div>

{% endblock %}

{% block body %}

<h3>1.2</h3>
<ul>
	<li>Tablo başlığı yazıları basitleştirme amacıyla kaldırıldı.</li>
	<li>Silme butonu sadeleştirildi.</li>
	<li>Hareket durumuna göre renklendirmelerin değişmesi eklendi.</li>
	<li>Versiyonun bulunduğu kısım sadeleştirildi.</li>
</ul>

<h3>1.1</h3>
<ul>
	<li>Artık aktivitelerin üstüne dokunularak ayrıntılar sayfası görüntülenebilir.</li>
</ul>

<h3>1.0</h3>
<p>Program.</p>

{% endblock %}